/* .card {
  display: flex;
  align-items: center;
} */
.custom-image {
  width: 200px;
  height: 200px;
}

/* .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar {
  padding-top: 20px; /* Adjust the top padding to increase the height */
  padding-bottom: 20px; /* Adjust the bottom padding to increase the height */
  background-color: rgba(
    var(--bs-light-rgb),
    var(--bs-bg-opacity)
  ) !important; /* Set your desired background color */
}

.navbar-nav .nav-link {
  line-height: 50px; /* Adjust the line height to vertically center the text */
}

.site-footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.content {
  flex-grow: 1; /* This pushes the footer to the bottom */
}
